.button {
  border: none;
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  background-color: #faf9b9;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  transition: 0.2s opacity;
  margin-bottom: 10px;
  text-align: center;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.6;
  color: #4f4a52;
}

ul {
  list-style-type: none;
}
