.button {
  border: none;
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  background-color: #faf9b9;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  transition: 0.2s opacity;
  margin-bottom: 10px;
  text-align: center;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  z-index: 999;

  overflow: auto;

  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}


.modal-close {
  float: right;
  appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}


h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.6;
  color: #4f4a52;
}

ul {
  list-style-type: none;
}
